<section class="app">
  <div class="wrap">
    <div class="app-box">
      <h2 class="app-h2">Meet With Future&nbsp;Landingpage</h2>

      <p class="app-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>

      <p class="app-text">Available Now</p>

      <ul class="app-list">
        <li class="app-list__item">
          <a href="#" target="_blank" class="app-link app-link-android"></a>
        </li>

        <li class="app-list__item">
          <a href="#" target="_blank" class="app-link app-link-ios"></a>
        </li>
      </ul>

      <a href="#" class="app-video">
        <picture>
          <source srcset="img/app/play@1x.webp 1x,
                          img/app/play@2x.webp 2x"
                  type="image/webp">
          <img src="img/app/play@1x.png"
                srcset="img/app/play@2x.png 2x" 
                alt="Video">
        </picture>
      </a>
    </div>
  </div>
</section>