<section class="clients">
  <div class="wrap">
    <h2 class="title-40 clients-h2">
      <span>testimonials</span>Our Happy Clients
    </h2>

    <div class="clients-box">
      <div class="clients-box__item">
        <p class="clients-box__text">It is a long established fact that a read her will be distracted by the readable content of a page when looking.</p>

        <div class="clients-info">
          <img src="img/clients/avatar.png" alt="">
          
          <div class="clients-info__content">
            <p class="clients-box__name">Rolin B. Mirano</p>

            <p class="clients-box__position">ceo, uihub</p>
          </div>
        </div>
      </div>

      <div class="clients-box__item">
        <p class="clients-box__text">It is a long established fact that a read her will be distracted by the readable content of a page when looking.</p>

        <div class="clients-info">
          <img src="img/clients/avatar.png" alt="">

          <div class="clients-info__content">
            <p class="clients-box__name">Rolin B. Mirano</p>

            <p class="clients-box__position">ceo, uihub</p>
          </div>
        </div>
      </div>

      <div class="clients-box__item">
        <p class="clients-box__text">It is a long established fact that a read her will be distracted by the readable content of a page when looking.</p>

        <div class="clients-info">
          <img src="img/clients/avatar.png" alt="">

          <div class="clients-info__content">
            <p class="clients-box__name">Rolin B. Mirano</p>

            <p class="clients-box__position">ceo, uihub</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>