<section class="features">
  <div class="wrap features-grid">
    <h2 class="title-40 features-grid__h2">
      <span>Features</span>Best Features Ever Seen
    </h2>

    <div class="features-grid__item features-grid__item1">
      <div class="features-grid__icon features-grid__icon1"></div>

      <h3 class="features-grid__h3">Well Documented</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__item features-grid__item2">
      <div class="features-grid__icon features-grid__icon2"></div>

      <h3 class="features-grid__h3">Highly Customizeable</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__item features-grid__item3">
      <div class="features-grid__icon features-grid__icon3"></div>

      <h3 class="features-grid__h3">Mobile Friednly Design</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__item features-grid__item4">
      <div class="features-grid__icon features-grid__icon4"></div>

      <h3 class="features-grid__h3">Responsive Design</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__item features-grid__item5">
      <div class="features-grid__icon features-grid__icon5"></div>

      <h3 class="features-grid__h3">24/7 Online Support</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__item features-grid__item6">
      <div class="features-grid__icon features-grid__icon6"></div>

      <h3 class="features-grid__h3">Easy To Edit</h3>

      <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed don eiusmod tempor incididunt.</p>

      <a href="#" class="features-grid__link">Read More</a>
    </div>

    <div class="features-grid__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      <span>
        <strong>Rosalina Pong</strong><a href="#"> - Founder, uithemes</a>
      </span>
    </div>
  </div>
</section>