<footer class="footer">
  <div class="wrap footer-box">
    <p class="footer-text">Made With Love & Copyright By -
      <a href="#" class="footer-text__link">limpon</a>
    </p>

    <ul class="social">
      <li class="social-item">
        <a href="#" target="_blank" class="social-item__link social-item__fb"></a>
      </li>

      <li class="social-item">
        <a href="#" target="_blank" class="social-item__link social-item__tw"></a>
      </li>

      <li class="social-item">
        <a href="#" target="_blank" class="social-item__link social-item__be"></a>
      </li>

      <li class="social-item">
        <a href="#" target="_blank" class="social-item__link social-item__p"></a>
      </li>

      <li class="social-item">
        <a href="#" target="_blank" class="social-item__link social-item__f"></a>
      </li>
    </ul>
  </div>
</footer>