<section class="form">
  <div class="wrap form-box">
    <picture>
      <source srcset="img/form/img@1x.webp 1x,
                      img/form/img@2x.webp 2x"
              type="image/webp">
      <img src="img/form/img@1x.png"
            srcset="img/form/img@2x.png 2x" 
            alt="Screen" class="form-img">
    </picture>

    <div class="form-content">
      <h2 class="form-h2">Start Your Free Trail No Need Credit Card.</h2>

      <form action="#" class="form-contact">
        <div class="form-contact__item form-contact__name">
          <input type="text" name="form-name" value="" placeholder="Enter your name here">
        </div>

        <div class="form-contact__item form-contact__email">
          <input type="email" name="form-email" value="" placeholder="Enter your email here">
        </div>

        <div class="form-contact__item form-contact__text">
          <textarea name="textMessage" placeholder="Enter your message here"></textarea>
        </div>

        <button type="submit" name="button" class="btn btn-primary form-contact__btn">
          <span></span>submit now
        </button>
      </form>
    </div>
  </div>
</section>