<div class="nav-modal">
  <button type="button" class="btn-close">
    <span>&times;</span>
  </button>

  <ul class="nav-modal-list">
    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Home</a>
    </li>

    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Features</a>
    </li>

    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Video</a>
    </li>

    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Screens</a>
    </li>

    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Pricing</a>
    </li>

    <li class="nav-item nav-modal-list__item">
      <a href="#" class="nav-link">Team</a>
    </li>

    <li class="nav-modal-list__btn">
      <a href="#" class="btn btn-primary nav-btn">Free Trail</a>
    </li>
  </ul>
</div>