<section class="plan">
  <div class="wrap">
    <h2 class="title-40">
      <span>our plans</span>Pricing Plans
    </h2>

    <div class="price-box">
      <div class="price-box__item">
        <h3 class="price-box__title">Free</h3>

        <p class="price-box__subtitle">
          <strong>starter</strong>
        </p>

        <ul class="price-box__list">
          <li>Unlimited users Active</li>

          <li>1 GB Bandwidth Speed</li>

          <li>256 MB Memory Card</li>

          <li>Free Domain Name</li>

          <li>Free Hosting Name</li>

          <li>24x7 Online Support</li>
        </ul>

        <a href="#" class="btn btn-info">choose plan</a>
      </div>

      <div class="price-box__item active">
        <h3 class="price-box__title">
          <span class="price-box__span">$</span>90<span class="price-box__span">/mo</span>
        </h3>

        <p class="price-box__subtitle">
          <strong>starter</strong>
        </p>

        <ul class="price-box__list">
          <li>Unlimited users Active</li>

          <li>1 GB Bandwidth Speed</li>

          <li>256 MB Memory Card</li>

          <li>Free Domain Name</li>

          <li>Free Hosting Name</li>

          <li>24x7 Online Support</li>
        </ul>

        <a href="#" class="btn btn-primary">choose plan</a>
      </div>

      <div class="price-box__item">
        <h3 class="price-box__title">
          <span class="price-box__span">$</span>350<span class="price-box__span">/mo</span>
        </h3>

        <p class="price-box__subtitle">
          <strong>starter</strong>
        </p>

        <ul class="price-box__list">
          <li>Unlimited users Active</li>

          <li>1 GB Bandwidth Speed</li>

          <li>256 MB Memory Card</li>

          <li>Free Domain Name</li>

          <li>Free Hosting Name</li>

          <li>24x7 Online Support</li>
        </ul>

        <a href="#" class="btn btn-info">choose plan</a>
      </div>
    </div>
  </div>
</section>