<section class="stat">
  <div class="wrap">
    <h2 class="stat-h2">
      <span>Fun Facts</span>Some Fun Facts About Dashboard
    </h2>

    <ul class="stat-list">
      <li class="stat-item">
        <span class="stat-item__span">53K</span>layouts
      </li>

      <li class="stat-item">
        <span class="stat-item__span">10K</span>projects
      </li>

      <li class="stat-item">
        <span class="stat-item__span">12K</span>cup coffee
      </li>

      <li class="stat-item">
        <span class="stat-item__span">120</span>awards
      </li>
    </ul>
  </div>
</section>