<section class="subscribe">
  <div class="wrap subscribe-box">
    <div class="subscribe-inner">
      <h2 class="subscribe-h2">
        <span>Subscribe</span>Signup For A Trail
      </h2>

      <p class="subscribe-text">Create your free account now & get 30 days free trail No credit card required</p>

      <form class="subscribe-form" action="#" method="post">
        <input class="subscribe-input" type="email" name="email" value="" placeholder="Enter your email address">

        <button type="submit" name="button" class="btn btn-primary subscribe-btn">Subscribe</button>
      </form>
    </div>
    
    <picture>
      <source srcset="img/subscribe/robot@1x.webp 1x,
                      img/subscribe/robot@2x.webp 2x"
              type="image/webp">
      <img src="img/subscribe/robot@1x.png"
            srcset="img/subscribe/robot@2x.png 2x" 
            alt="Robot" class="subscribe-img">
    </picture>
  </div>
</section>