<section class="team">
  <div class="wrap">
    <h2 class="title-40 team-h2">
      <span>angels</span>Our Team
    </h2>

    <div class="team-box">
      <div class="team-box__item">
        <picture>
          <source srcset="img/team/ricardo@1x.webp 1x,
                          img/team/ricardo@2x.webp 2x"
                  type="image/webp">
          <img src="img/team/ricardo@1x.jpg"
                srcset="img/team/ricardo@2x.jpg 2x" 
                alt="Ricardo" class="team-box__img">
        </picture>

        <p class="team-box__position">founder</p>

        <p class="team-box__name">Ricardo T. Obrien</p>

        <button type="button" class="team-btn team-btn__ricardo">
          <span class="team-btn__span"></span>
        </button>

        <ul class="team-social team-social__ricardo" style="display: none;">
          <li class="team-social__item">
            <a class="team-btn team-btn__fb" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__tw" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__be" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__web" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="team-box__item">
        <picture>
          <source srcset="img/team/alberto@1x.webp 1x,
                          img/team/alberto@2x.webp 2x"
                  type="image/webp">
          <img src="img/team/alberto@1x.jpg"
                srcset="img/team/alberto@2x.jpg 2x" 
                alt="Alberto" class="team-box__img">
        </picture>

        <p class="team-box__position">ceo</p>

        <p class="team-box__name">Alberto Del Rio</p>

        <button type="button" class="team-btn team-btn__alberto">
          <span class="team-btn__span"></span>
        </button>

        <ul class="team-social team-social__alberto" style="display: none;">
          <li class="team-social__item">
            <a class="team-btn team-btn__fb" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__tw" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__be" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__web" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="team-box__item">
        <picture>
          <source srcset="img/team/thomas@1x.webp 1x,
                          img/team/thomas@2x.webp 2x"
                  type="image/webp">
          <img src="img/team/thomas@1x.jpg"
                srcset="img/team/thomas@2x.jpg 2x" 
                alt="Thomas" class="team-box__img">
        </picture>

        <p class="team-box__position">designer</p>

        <p class="team-box__name">Thomas Alva Adison</p>

        <button type="button" class="team-btn team-btn__thomas">
          <span class="team-btn__span"></span>
        </button>

        <ul class="team-social team-social__thomas" style="display: none;">
          <li class="team-social__item">
            <a class="team-btn team-btn__fb" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__tw" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__be" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>

          <li class="team-social__item">
            <a class="team-btn team-btn__web" href="#" target="_blank">
              <span class="team-btn__span"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>