.stat {
  position: relative;
  padding-top: 116px;
  padding-bottom: 96px;
  background-color: #edf6ff;

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -350px;
    display: block;
    width: 450px;
    height: 760px;
    background-image: url(../img/figure/circle-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1000px) {
      bottom: -230px;
      width: 425px;
      height: 500px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -205px;
    display: block;
    width: 558px;
    height: 660px;
    background-image: url(../img/figure/rhomb-gray.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 1000px) {
      width: 425px;
      height: 500px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &-h2 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  &-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-top: 76px;
    padding-left: 0;
    justify-content: space-around;
    list-style-type: none;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &-item {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.7px;
    text-align: center;
    color: $navyCrayola;
    text-transform: uppercase;

    @media (max-width: 768px) {
      flex-basis: 50%;
      margin-bottom: 30px;
    }

    @media (max-width: 400px) {
      flex-basis: 100%;
    }

    &__span {
      display: block;
      margin-bottom: 23px;
      font-size: 60px;
      letter-spacing: 0;
      color: #bacbdc;
    }
  }
}
